{% extends "base.html" %}
{% block title %}Add a new trick{% endblock %}
{% block content %}
    <div class="container">
        <h1 align="center">{{ variant.name }} {{ trick.name }}</h1>

        <form method="POST" enctype="multipart/form-data">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date" name="date" class="form-control mb-4" value="{{ info.created_at }}">
            <label for="name" class="form-label">Note</label>
            <input type="text" id="note" name="note" class="form-control mb-4" value="{{ info.content }}">
            <div align="center">
                <button type="submit" class="btn btn-lg btn-primary">Add</button>
            </div>
        </form>
    </div>
{% endblock %}