{% extends "base.html" %}
{% block title %}Dodatkowe materiały{% endblock %}
{% block content %}
    <div class="container">
        <div class="row l-m justify-content-center">
            <div class="col-8">
                <h1>Dodatkowe materiały</h1>
                <p></p>
                <h2>Czasopisma skateboardowe</h2>
                <a href="https://www.thrashermagazine.com/">Trasher Magazine</a><br>
                <a href="https://www.skateboarding.com/">Transworld Skateboarding</a>
                <h2>Filmy z Rodney Mullenem</h2>
                <a href="https://www.youtube.com/watch?v=h1yL23W1L8M&t=1151s&ab_channel=sk8archive">Virtual reality</a><br>
                <a href="https://www.youtube.com/watch?v=8sEXCfX0rdk&ab_channel=BrapBrap">Questionable</a><br>
                <a href="https://www.youtube.com/watch?v=CwYdP1r_sKM&ab_channel=sk8archive">Rodney Mullen vs Daewon Song</a><br>
                <a href="https://www.youtube.com/watch?v=6v7G274B42k&feature=youtu.be&ab_channel=sk8archive">Rodney Mullen vs Daewon Song: Round 2</a><br>
                <a href="https://www.youtube.com/watch?v=U8qH4y0PPCM&ab_channel=SkateVideoVault">Almost - Round Three</a><br>
                <h2>Kanały na serwisie YouTube</h2>
                <a href="https://www.youtube.com/@JonnyGiger">Jonny Giger</a><br>
                <p>Filmy o trickach na płaskim podłożu i poradniki.</p>
                <a href="https://www.youtube.com/@bendegros">Ben Degros</a><br>
                <p>Recenzje produktów oraz analizy sprzętu deskorolkowego.</p>
                <a href="https://www.youtube.com/@SLS">Street League Skateboarding</a><br>
                <p>Relacje z zawodów SLS.</p>
                <a href="https://www.youtube.com/@SkateVideoVault">Skate Video Vault</a><br>
                <p>Nagrania archiwalnych filmów deskorolkowych.</p>
            </div>
        </div>
    </div>
{% endblock %}