{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
    <div class="container">
        <div class="login-form">
            <form method="POST" class="col-6">
                <h1>
                    ZALOGUJ SIĘ
                </h1>
                <p>Nie masz konta? <a href="/sign-up">Zarejestruj się</a></p>
                <label for="email">Adres E-mail</label>
                <input type="text" id="email" name="email" placeholder="Wpisz adres e-mail">
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password" placeholder="Wpisz hasło">
                <button type="submit">DALEJ >></button>
            </form>
            <div class="col-6 login-info">

            </div>
        </div>
    </div>
{% endblock %}