{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
    <div class="container">
        <div class="login-form">
            <form method="POST" class="col-10 col-lg-6">
                <h1>
                    ZAREJESTRUJ SIĘ
                </h1>
                <label for="email">Adres E-mail</label>
                <input type="text" id="email" name="email" placeholder="Wpisz adres e-mail">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" id="username" name="username" placeholder="Wpisz nazwę użytkownika">
                <label for="password1">Hasło</label>
                <input type="password" id="password1" name="password1"
                       placeholder="Wpisz hasło">
                <label for="password2">Powtórz hasło</label>
                <input type="password" id="password2" name="password2"
                       placeholder="Powtórz hasło">
                <button type="submit">UTWÓRZ KONTO >></button>
            </form>
            <div class="col-10 col-lg-6 login-info">
                <p>Utwórz konto, aby:</p>
                <ul>
                    <li>rejestrować swoje osiągnięcia,</li>
                    <li>zbierać punkty,</li>
                    <li>zdobyć wiedzę, korzystając z dodatkowych materiałów.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}