{% extends "base.html" %}
{% block title %}Create a post{% endblock %}
{% block content %}
    <div class="container">
        {# ckeditor.load() #}
        <h1 align="center">Create a post</h1>

        <form method="POST" enctype="multipart/form-data">
            <label for="file" class="form-label">Upload photo</label>
            <input type = "file" name = "file" class="form-control"/><br>
            <label for="category" class="form-label">Category</label>
            <select name="category" class="form-select">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label for="title" class="form-label">Post title</label>
            <input type="text" id="title" name="title" class="form-control mb-4" placeholder="Write a title">
            {#  ckeditor.create() #}
            <label for="content" class="form-label">Content</label>
            <textarea name="content" id="content" class="form-control mb-4"></textarea>
            <div align="center">
                <button type="submit" class="btn btn-lg btn-primary">Post</button>
            </div>
        </form>
    </div>
{% endblock %}