{% extends "base.html" %}
{% block title %}Create a post{% endblock %}
{% block content %}
    <div class="container">
        {# ckeditor.load() #}
        <h1 align="center">Edit a post</h1>
        {% if post.mimetype != 'video/mp4' %}
            <img src="{{ url_for('static', filename='/uploads/' + post.media) }}" style="width: 15%; height: auto;"
                 alt="{{ post.media }}">
        {% else %}
            <video autoplay muted loop>
                <source src="{{ url_for('static', filename='/uploads/' + post.media) }}" type="video/mp4">
            </video>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            <label for="file" class="form-label">Upload photo</label>
            <input type="file" name="file" value="{{ post.image }}"/>
            {% if post.mimetype != '' %}
            <input type="submit" name="delete_file" value="Usuń obraz lub film">
            {% endif %}
            <select name="category" class="form-select">
                <option value="{{ post.category_id }}">{{ current_category }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label for="title" class="form-label">Post title</label>
            <input type="text" id="title" name="title" class="form-control mb-4" value="{{ post.title }}">
            <label for="content" class="form-label">Post</label>
            <textarea name="content" id="content" class="form-control mb-4">{{ post.content }}</textarea>
            <div align="center">
                <button type="submit" class="btn btn-lg btn-primary">Post</button>
            </div>
        </form>
    </div>
{% endblock %}