{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="accordion side-nav-mobile" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            WSZYSTKIE ARTYKUŁY
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav flex-column">
                                {% for link in posts %}
                                    {% if post.title == link.title %}
                                        <li class="nav-item side-nav-item active">
                                            <a href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item side-nav-item">
                                            <a href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1 col-xxl-2">
                <ul class="nav flex-column side-nav">
                    {% for link in posts %}
                        {% if post.title == link.title %}
                            <li class="nav-item side-nav-item active">
                                <a href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item side-nav-item">
                                <a href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-10 col-xxl-8">
                <div class="post">
                    <section class="post-content-no-img">
                        {% if user.has_role('admin') %}
                            <div class="post-admin">
                                <h1>{{ post.title }}</h1>
                                <a href="{{ url_for('views.edit_post', slug=post.slug) }}">Edytuj post</a>
                            </div>
                        {% else %}
                            <h1>{{ post.title }}</h1>
                        {% endif %}
                        {{ post.content|safe }}
                    </section>
                </div>
                {% for link in posts %}
                    {% if link.title == post.title %}
                        {% if loop.nextitem and loop.previtem %}
                            <div class="d-flex mt-5 justify-content-between">
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.previtem.slug, category=category) }}"><< {{ loop.previtem.title }}</a>
                                </div>
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.nextitem.slug, category=category) }}">{{ loop.nextitem.title }}
                                        >></a>
                                </div>
                            </div>
                        {% elif loop.nextitem %}
                            <div class="d-flex mt-5 justify-content-end">
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.nextitem.slug, category=category) }}">{{ loop.nextitem.title }}
                                        >></a>
                                </div>
                            </div>
                        {% elif loop.previtem %}
                            <div class="d-flex mt-5 justify-content-start">
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.previtem.slug, category=category) }}"><< {{ loop.previtem.title }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}