{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2">
                <ul class="nav flex-column">
                    {% for link in posts %}
                        {% if post.title == link.title %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                   href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-8">
                <div class="row mt-5 align-items-center">
                    <section class="col">
                        {% if user.has_role('admin') %}
                        <div class="post-admin">
                            <h1>{{ post.title }}</h1>
                            <a href="{{ url_for('views.edit_post', slug=post.slug) }}">Edytuj post</a>
                        </div>
                        {% else %}
                        <h1>{{ post.title }}</h1>
                        {% endif %}
                        {{ post.content|safe }}
                    </section>
                </div>
                {% for link in posts %}
                    {% if link.title == post.title %}
                        {% if loop.nextitem and loop.previtem %}
                            <div class="row justify-content-center">
                                <div class="col">
                                    <a href="{{ url_for('views.show_post', slug=loop.previtem.slug, category=category) }}">< {{ loop.previtem.title }}</a>
                                </div>
                                <div class="col">
                                    <a href="{{ url_for('views.show_post', slug=loop.nextitem.slug, category=category) }}">{{ loop.nextitem.title }} ></a>
                                </div>
                            </div>
                        {% elif loop.nextitem %}
                            <div class="row justify-content-end">
                                <div class="col">
                                    <a href="{{ url_for('views.show_post', slug=loop.nextitem.slug, category=category) }}">{{ loop.nextitem.title }} ></a>
                                </div>
                            </div>
                        {% elif loop.previtem %}
                            <div class="row justify-content-start">
                                <div class="col">
                                    <a href="{{ url_for('views.show_post', slug=loop.previtem.slug, category=category) }}">< {{ loop.previtem.title }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}