{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">

{#      AKORDEON I NAWIGACJA NA BOKU      #}
{#        TODO: OGARNĄĆ NAWIGACJĘ DRUGIEGO RZĘDU DLA MOBILNYCH #}
            <div class="accordion side-nav-mobile" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            POZOSTAŁE TRICKI
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav flex-column">
                                {% for link in posts %}
                                    {% if post.title == link.title %}
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page"
                                               href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <ul class="nav flex-column side-nav">
                    {% for link in posts %}
                        {% if post.title == link.title %}
                            <li class="nav-item side-nav-item active">
                                <a href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item side-nav-item">
                                <a href="{{ url_for('views.show_post', slug=link.slug, category=category) }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
{#      AKORDEON I NAWIGACJA NA BOKU - KONIEC      #}

{#      TREŚĆ ARTYKUŁU    #}
            <div class="col-8">

                <div class="post">

        {#      ZDJĘCIE LUB FILM      #}
                    <div class="post-media">
                        {% if post.mimetype != 'video/mp4' %}
                            <img src="{{ url_for('static', filename='/uploads/' + post.media) }}" class="img-fluid"
                                 alt="{{ post.media }}">
                        {% else %}
                            <video class="img-fluid" autoplay muted loop>
                                <source src="{{ url_for('static', filename='/uploads/' + post.media) }}"
                                        type="video/mp4">
                            </video>
                        {% endif %}
                    </div>
        {#      ZDJĘCIE LUB FILM - KONIEC      #}

        {#      ARTYKUŁ      #}
                    <section class="post-content">
                        {% if user.has_role('admin') %}
                        <div class="post-admin">
                            <h1>{{ post.title }}</h1>
                            <a href="{{ url_for('views.edit_post', slug=post.slug) }}">Edytuj post</a>
                        </div>
                        {% else %}
                        <h1>{{ post.title }}</h1>
                        {% endif %}
                        {{ post.content|safe }}
                    </section>
        {#      ARTYKUŁ - KONIEC      #}
                </div>

        {#      NAWIGACJA POD POSTEM      #}
                {% for link in posts %}
                    {% if link.title == post.title %}
                        {% if loop.nextitem and loop.previtem %}
                            <div class="d-flex mt-5 justify-content-between">
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.previtem.slug, category=category) }}"><< {{ loop.previtem.title }}</a>
                                </div>
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.nextitem.slug, category=category) }}">{{ loop.nextitem.title }}
                                        >></a>
                                </div>
                            </div>
                        {% elif loop.nextitem %}
                            <div class="d-flex mt-5 justify-content-end">
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.nextitem.slug, category=category) }}">{{ loop.nextitem.title }}
                                        >></a>
                                </div>
                            </div>
                        {% elif loop.previtem %}
                            <div class="d-flex mt-5 justify-content-start">
                                <div>
                                    <a href="{{ url_for('views.show_post', slug=loop.previtem.slug, category=category) }}"><< {{ loop.previtem.title }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {#      NAWIGACJA POD POSTEM - KONIEC      #}

            </div>

{#      TREŚĆ ARTYKUŁU - KONIEC    #}
        </div>
    </div>
{% endblock %}